body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("code-quiz-img.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: Futura,Trebuchet MS,Arial,sans-serif; 
  padding-top: 20px;
  color: whitesmoke;
  font-style: italic;
}

#welcome{
  font-size: 50px;
}

h5 {
  text-decoration: underline;
  font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}

.card {
  font-family: Futura,Trebuchet MS,Arial,sans-serif; 
  font-size: 23px;
  padding-top: 25px;
  width: 575px;
  padding-bottom: 15px;
  border-radius: 50px;
}

.scores-card {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 15px;
  width: 50%;
  border-radius: 50px;
}

thead{
  font-size: 25px;
}

tr{
  font-size: 20px;
}

.card-title {
  font-size: 35px;
  font-weight: bold;
}

.question-title {
  font-size: 28px;
  font-weight: bold;
}

.card-list,
.answer-item {
  list-style: none;
  line-height: 2.5;
}

.answer-item {
  background-color: whitesmoke;
  border: 2px solid red;
  border-radius: 5px;
  margin: 10px;
}

.answer-a {
  font-size: 18px;
  color: black;
}

/* timer fixed to top right corner with top and right margin adjustments. */
.count-down {
  font-size: 20px;
  color: white;
}

/* view high scores and Go Back hyper links are fixed on top left corner in their assigned HTML page, top and right margins adjusted */
.go-back {
  position:fixed;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 100%;
  top: 20px;
  left: 20px;
}

#begin,
#submit, #view-highscores {
  border: none;
  background: #2e9da5;
  color: #ffffff !important;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

#view-highscores {
  background: #19c03d;
}

#go-back {
  border: none;
  background: whitesmoke;
  color: black !important;
  font-weight: bolder;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  border-radius: 100%;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

#go-back:hover {
  background:#9fdee2;;
}

#begin:hover, #submit:hover{
  color: #2e9da5 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

#view-highscores:hover{
  color: #19c03d !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

#go-back:hover{
  background-color: #9fdee2 !important;
  font-weight: 700 !important;
  font-size: 35px;
  letter-spacing: 3px;
  background: none;
  transition: all 0.2s ease 0s;
}

#score-text{
  background-color: lightblue;
}

#initials-form{
  height: 60px;
  resize: none;
}