body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("code-quiz-img.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
    color: whitesmoke;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.card{
  font-family: Comic Sans MS, Comic Sans, cursive;
  padding-top: 25px;
  padding-bottom: 15px;
  width: 50%;
  border-radius: 50px;
}

.card-title{
  font-size: 30px;
  font-weight: bold;
}

.card-list, .answer-item{
  list-style:none; 
  line-height: 2.5;
}

.answer-item{
  background-color: whitesmoke;
  border: 2px solid red;
  border-radius: 5px;
  margin: 10px;
}

/* timer fixed to top right corner with top and right margin adjustments. */
.count-down {
  font-size: 20px;
  color: white;
}

/* view high scores and Go Back hyper links are fixed on top left corner in their assigned HTML page, top and right margins adjusted */
.high-scores,
.go-back {
  position: fixed;
  top: 20px;
  left: 20px;
}